TZ=Asia/Ho_Chi_Minh
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=chatapp
DB_SSL_MODE=disable
DB_MAX_IDLE_CONNECTIONS=
DB_MAX_CONNECTIONS=
DB_MAX_LIFETIME=
DB_MAX_IDLE_TIME=
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=
JWT_REFRESH_SECRET=

# Email Verification (Resend)
RESEND_API_KEY=

# File Uploads (Cloudflare R2)
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=

RATE_LIMIT_BY_IP=5
RATE_LIMIT_BY_TOKEN=5