TZ=Asia/Ho_Chi_Minh
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=chatapp
DB_SSL_MODE=disable
DB_MAX_IDLE_CONNECTIONS=
DB_MAX_CONNECTIONS=
DB_MAX_LIFETIME=
DB_MAX_IDLE_TIME=
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=
JWT_REFRESH_SECRET=
UPLOAD_DIR=./uploads
RATE_LIMIT_BY_IP=5
RATE_LIMIT_BY_TOKEN=5